<?xml version="1.0" encoding="UTF-8"?>



<Configuration>
    <!-- Properties section -->
    <Properties>
        <Property name="web_log">C:/logs/web.log</Property>
        <Property name="configuration_log">C:/logs/configuration.log</Property>
        <Property name="core_log">C:/logs/core.log</Property>
        <Property name="models_log">C:/logs/model.log</Property>
        <Property name="hibernate_log">C:/logs/hibernate.log</Property>
    </Properties>

    <!-- Appenders section -->
    <Appenders>
        <!-- console appender -->
        <Console name="console_file" target="SYSTEM_OUT">
             <PatternLayout
                    pattern="[%highlight{%5p}] %d{HH:mm:ss.SSS} [%t] %logger{36} -  %msg%n"/>
        </Console>

        <!-- File appender of web log -->
        <RollingFile name="web_file" fileName="${web_log}"
                     filePattern="logs/arch/arch_web_log-%d{MM-dd-yyyy_HH}-%i.gz">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2000000"/>
            </Policies>
        </RollingFile>

        <RollingFile name="configuration_log" fileName="${configuration_log}"
                     filePattern="logs/arch/arch_configuration_log-%d{MM-dd-yyyy_HH}-%i.gz">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2000000"/>
            </Policies>
        </RollingFile>

        <!-- File appender of core log -->
        <RollingFile name="core_file" fileName="${core_log}"
                     filePattern="logs/arch/arch_core_log-%d{MM-dd-yyyy_HH}-%i.gz">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2000000"/>
            </Policies>
        </RollingFile>

        <!-- File appender of Model log -->
        <RollingFile name="model_file" fileName="${models_log}"
                     filePattern="logs/arch/arch_models_log-%d{MM-dd-yyyy_HH}-%i.gz">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2000000"/>
            </Policies>
        </RollingFile>

        <!-- File appender of hibernate log -->
        <RollingFile name="hibernate_file" fileName="${hibernate_log}"
                     filePattern="logs/arch/arch_models_log-%d{MM-dd-yyyy_HH}-%i.gz">
            <PatternLayout>
                <Pattern>%d [%marker] %p %c{1.} [%t] %m %ex%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="2000000"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <!-- Loggers section -->
    <Loggers>

        <!-- web logger -->
        <Logger name="ua.com.shocell.controller"  >
            <!--additivity="false">-->
            <AppenderRef ref="web_file" level="ALL"/>
        </Logger>

        <!-- configuration logger -->
        <Logger name="ua.com.shocell.configuration"  >
            <!--additivity="false">-->
            <AppenderRef ref="configuration_file" level="ALL"/>
        </Logger>

        <!-- core logger -->
        <Logger name="ua.com.shocell.models" level="ALL">
            <!--additivity="false">-->
            <AppenderRef ref="core_file" level="ALL"/>
        </Logger>

        <!-- View logger -->
        <Logger name="ua.com.shocell.view" level="ALL">
            <!--additivity="false">-->
            <AppenderRef ref="model_file" level="ALL"/>
        </Logger>
        <!-- Root logger -->

        <Root level="ERROR">
            <AppenderRef ref="console_file"/>
        </Root>

    </Loggers>

</Configuration>